@charset "utf-8";
body {
	margin: 0;
	padding: 0;
	color: #e6e3bb;
	background-color: #9B4C27;
	background-repeat: repeat;
	background-image: url(../_images/backgroundTile.png);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1.4em;
}

/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */
.container {
	width: 100%;
	max-width: 960px;/* a max-width may be desirable to keep this layout from getting too wide on a large monitor. This keeps line length more readable. IE6 does not respect this declaration. */
	min-width: 700px;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout. It is not needed if you set the .container's width to 100%. */
  
}


/* ~~the header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo~~ */
.header {
	background-color: #232729;
	height: 3em;
	width: auto;
	margin-top: -0.4em;
	/* rounded corners*/	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 0 0 20px 20px;
	/* [disabled]padding-left: 1.1em; */
	/* drop shadow */
		-webkit-box-shadow: 0px -3px 10px 3px #232729 ;
       box-shadow: #232729 0px -3px 10px 3px;    
}
#logo {
	background-image: url(../_images/fcs_logo.gif);
	background-repeat: no-repeat;
	background-position: left center;
	height: 3em;
	width: 9em;
	float: left;
	padding-left: 0em;
	margin-left: 1.1em;
}
#logo_divider {
	float: right;
	margin-right: -20px;
}

header nav {
	text-align: right;
}


header nav ul li{
	font-family: "Arial Rounded MT Bold", "Arial Black", Arial, sans-serif;
	font-size: 1em;
	display: inline;
	color: #e6e3bb;
	padding-left: 10px;
	margin-left: 20px;
	line-height: 3.2em;
}

header nav ul li a:link {
	color:#e6e3bb;
	text-decoration: none;
}

header nav ul li a:visited {
	color: #e6e3bb;
	text-decoration: none;
}

header nav ul li a:hover, a:active, a:focus {
	color: #9B4C27;
	text-decoration: none;
}
.featuredImage {
	max-height: 315px;
	clear: both;
	text-align: center;

}
.featuredSaying {
	text-align: center;
	height: 146px;
	padding-top: 29px;
}

#circles {
	max-height: 100%;
	max-width: 100%;
	text-align: center;
}




/* ~~ This is the layout information. ~~ 

1) Padding is only placed on the top and/or bottom of the div. The elements within this div have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

*/
.content {
	background: #232729;
	max-width: 100%;
	/* rounded corners*/	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px 20px 0 0;
	height: auto;
	padding-top: 5%;
	padding-right: 0;
	padding-left: 0;
	text-align: justify;
	text-justify: inter-word;
	/* drop shadow */
		-webkit-box-shadow: 0px 3px 10px 3px #232729 ;
       box-shadow: #232729 0px 3px 10px 3px;
}
.content .overview hgroup h1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #9B4C27;
	line-height: 90%;
}
.content .overview hgroup h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #e6e3bb;
	line-height: 90%;
	font-style: italic;
}
.content .overview p {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 110%;
	color: #e6e3bb;
	text-align: justify;
	text-justify: inter-word;
}

.overview {
	padding-right: 15%;
	padding-bottom: 5%;
	padding-left: 15%;
}

.services {
	background-color: #e6e3bb;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	height: 24em;
	text-align: justify;
	text-justify: inter-word;
	color: #232729;
}

.process {
	background-color: #e6e3bb;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	height: 28em;
	text-align: justify;
	text-justify: inter-word;
	color: #232729;
}
.services h1 {
	font-family: "Lobster 1.4";
	color: #9B4C27;
	text-align: center;
}
.process h1 {
	font-family: "Lobster 1.4";
	color: #9B4C27;
	text-align: center;
}
.print {
	float: left;
	width: 27%;
	padding-top: 1%;
	padding-right: 0px;
	padding-bottom: 10%;
	padding-left: 0px;
	text-align: justify;
	text-justify: inter-word;
	margin-left: 5%;
}
.research {
	float: left;
	height: auto;
	width: 27%;
	padding-top: 1%;
	padding-right: 0px;
	padding-bottom: 10%;
	padding-left: 0px;
	text-align: justify;
	text-justify: inter-word;
	margin-left: 5%;
}
.web {
	float: left;
	width: 27%;
	padding-top: 1%;
	padding-right: 0px;
	padding-bottom: 10%;
	padding-left: 0px;
	text-align: justify;
	text-justify: inter-word;
	margin-left: 5%;
}
.production {
	float: left;
	width: 25%;
	padding-top: 1%;
	padding-right: 0px;
	padding-bottom: 10%;
	padding-left: 0px;
	text-align: justify;
	text-justify: inter-word;
	margin-left: 6%;
}
.audio {
	float: left;
	width: 26%;
	padding-top: 1%;
	padding-right: 0px;
	padding-bottom: 10%;
	padding-left: 0px;
	text-align: justify;
	text-justify: inter-word;
	margin-left: 5%;
}
.delivery {
	float: left;
	width: 26%;
	padding-top: 1%;
	padding-right: 0px;
	padding-bottom: 12%;
	padding-left: 0px;
	text-align: justify;
	text-justify: inter-word;
	margin-left: 7%;

}
.location {
	margin-left: 6%;
	margin-bottom: 4%;
}

#circles img {
	display: inline-block;
	max-width: 100%; 
	max-height: 100%;  
}

.moreinfo  {
	background-color: #232729;
}

.moreinfo img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
}

.feature {
	width: 40%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 6%;
	float: left;
	position: static;
}
.feature h1 {
	color: #9B4C27;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height: 80%;
}
.feature p {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #e6e3bb;
	text-align: justify;
}
.feature img {
	float: right;
	border: medium solid #9B4C27;
	margin-right: 1em;
	/* [disabled]margin-bottom: 0.2em; */
	margin-left: 0.5em;
	/* [disabled]margin-top: 0.8em; */
	position: static;
}

.moreinfo .divider {
	float: left;
	padding-top: 10%;
}

.twitter {
	float: left;
	max-width: 100%;
	margin-top: 5%;
	margin-left: 5%;
	clear: none;
}
.extrainfo {
	background-color: #e6e3bb;
	height: 285px;
	clear: both;
}
.extrainfo #black_white_line {
	display: inline-block;
	max-width: 100%; 
	max-height: 100%; 
}

.extrainfo .pinterest {
	height: auto;
	width: 42%;
	max-width: 376px;
	margin-left: 5%;
	float: left;
}
.secondary.nav {
	float: left;
	width: 15%;
	/* [disabled]margin-left: 2%; */
	padding-left: 2%;
}

.secondary.nav h1 {
	font-family: "Lobster 1.4";
	font-size: 20px;
	color: #9b4c27;
	text-decoration: underline;
}
.secondary.nav ul li{
	color: #232729;
	text-decoration: none;
	list-style-type: none;
	list-style-image: none;
    margin-bottom: 3%;
    margin-left: -48%;
    text-align: center;
	font-weight: bolder;
}

.secondary.nav ul li a:link{
	color: #232729;
	text-decoration: none;
	list-style-type: none;
	list-style-image: none;
}

.secondary.nav ul li a:hover, a:active, a:focus{
	color: #9b4c27;
	text-decoration: none;

}

.social.media {
	float: right;
	width: 28%;
	margin-right: 5%;
	text-align: right;
}
.social.media a:hover, a:active, a:focus {
}


.social.media h1 {
	font-family: "Lobster 1.4";
	color: #9b4c27;
	font-size: 20px;
	margin-left: -40px;
}
.second.row.media {
	padding-right: 18%;
	margin-top: -10px;

}

/* ~~ The footer ~~ */
.footer {
	background: #232729;
	height: 1%;
	max-width: 100%;
	/* rounded corners*/	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 0 0 20px 20px;
	padding-bottom: .2em;
	padding-top: .8em;
	color: #9B4C27;
	font-size: 12px;
	margin-bottom: 2em;
	padding-left: 25px;
	/* drop shadow */
       box-shadow: #232729 0px 3px 10px 3px;
}


/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}

a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}

/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color:#414958;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #4E5869;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}


/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol {
	/* [disabled]padding: 0 15px 15px 40px; */ /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0;
}
